/* FeedbackButton.css */
.feedbackButton {
    background-color: black;
    color: #34C94B;
    font-weight: 900;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
  }
  
  .feedbackButton:hover {
    background-color: darkgreen;
    /* Add other hover styles if needed */
  }
  